*
{
	box-sizing: border-box;
}
body
{
	font-family: sans-serif;
	line-height: 1.5;
	margin: 0px;
}
h1,h2,h3,h4,h5,h6
{
	font-family: serif;
}

a
{
	color: inherit;
	text-decoration: none;
}
 ul#list
{
		display: block;
		margin: 0px;
		color:#F0C9B3;
		list-style-image: url(../images/caret.png);
		padding: 10px 15px;
}
ul#list li
{
	border-top:1px solid #F0C9B3;
	padding:15px 0px;
	line-height: 15px;
	
}
ul#list li:first-of-type
{
	border-top:0px;
}

#err
{
	margin: 0px;
	padding: 15px 0px;
	color:#F2A68A;
}

.container,#widget
{
	max-width: 45rem;
	width: auto;
	padding: 0px 15px;
	margin: 0 auto;
}
#main-content
{
	//padding: 50px 0px;
	background-color:#5C1500;
}
.subform
{
	width:100%;
	padding: 10px 0px;	

}

input
{
	padding:10px;
	width:100%;
	margin: 20px 0px;
}



#btn
{
	background-color:#F5D0C5;
	color:#5C1500;
	border:0px;
	padding:10px 25px;
	width:100%;
	font-size: 1.2rem;
}
.masthead
{
	background-image: url(../images/mastheadbg.jpg);
	
	padding:1rem;
	color: #F5D0C5;
	
}
.mastheadtext
{
	width: 59%;
	display: inline-block;
}
.mastheadimg
{
	width: 39%;
	display: inline-block;
}
.masthead h1,.masthead p,.masthead h2
{
	margin: 10px 0px;
	color: #F5D0C5;
}
.masthead h1
{
	font-size: 4rem;
	line-height: 4rem;
}
.masthead h2
{
	font-size: 2.3rem;
}
.masthead img
{
	width:100%;
}
.masthead p
{
	font-size: 2rem;
}
footer
{
	background-color: #572000;
	color: #F2A68A;
	
}
.coninfo
{
	width: 49%;
	display: inline-block;
}
.social
{
	width: 100%;
	display:block;
	text-align: center;
	border-top: 1px solid;
	vertical-align: top;
	padding:50px 0px;
}
.social a
{
	display: inline-block;
	padding:0px 10px;
	font-size: 1.3rem;
}
@media(max-width: 35rem)
{
	*
	{
		font-size: 1rem;
		text-align: center;
	}
	.formgroup.name,
	{
		width:100%;
		display:block;
	}
	.formgroup #btn
	{
		background-color:#6293f0;
		color:white;
		border:0px;
		padding:10px 25px;
	}
	.coninfo
{
	width: 100%;
	display: block;
}
.social
{
	width: 100%;
	display: block;
	text-align: center;
	height: 100px;
	vertical-align: top;
	padding-top:50px
}

.mastheadimg,.mastheadtext
{
	width:100%;
	display: block;
}
}
